---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local</p>
<!--     <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4"> -->
          <form action="#" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Where?">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="When?">
            </div>
            <div class="form-group">
              <select id="" class="form-control">
                <option value>1 guest</option>
                <option value>2 guests</option>
                <option value>3 guests</option>
              </select>
            </div>
          <!--   <input type="submit" value="Search" class="btn btn-primary btn-lg"> -->
            <a class="btn btn-primary btn-lg">Search</a>
          </form>
<!--         </div>
      </div>
    </div> -->

  </div>
</div>

<div id="home">
  <div class="home-content">
    <h2>Recent flats</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
          <div class="card-category">PARIS, FRANCE</div>
          <div class="card-description">
            <h2>Sebastien's home</h2>
            <p>Charming home in Montmartre</p>
            <p><i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star"></i></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
          <a class="card-link" href="https://lewagon.github.io/middleman-airbnb/flats/ssaunier.html" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
          <div class="card-category">TOKYO, JAPAN</div>
          <div class="card-description">
            <h2>Boris' home</h2>
            <p>Small flat in Tokyo</p>
            <p><i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/papillard">
          <a class="card-link" href="https://lewagon.github.io/middleman-airbnb/flats/papillard.html" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/london');">
          <div class="card-category">LONDON, UK</div>
          <div class="card-description">
            <h2>Romain's home</h2>
            <p>Nice flat in Piccadilly</p>
            <p><i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i> <i class="fa fa-star" style="color: yellow"></i></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/monsieurpaillard">
          <a class="card-link" href="https://lewagon.github.io/middleman-airbnb/flats/monsieurpaillard.html" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
